body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #258A42;
    overflow-y: hidden;
}

.navbar {
    margin-top: 70.4px;
    height: 100%;
    background-color: #ebeae4;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: width 1.0s ease;
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    z-index: 2;
}

.navbar i {
    font-size: 30px;
    margin-top: 30px;
    margin-right: 10px;
}

.navbar-expanded {
    margin-left: auto;
    transition: margin-left 2s ease;
}

.navbar-links {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
}

.navbar-links i {
    margin-top: 280px;
}

.navbar a {
    color: #007bff;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 20px;
    margin-right: 10px;
}

.navbar a:hover {
    background-color: #0056b3;
    color: black;
}

.hidden {
    display: none;
}

.header {
    background-color: #fff;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 50px;
    height: auto;
    margin-left: 10px;
}

.header i {
    font-size: 40px;
    margin-right: 10px;
}

.container {
    width: 80%;
    max-width: 600px;
    min-height: 75vh;
    min-width: 90vw;
    padding: 20px;
    margin-left: 70px;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    z-index: 1;
}

.container h1 {
    font-size: 25px;
}

.container img {
    width: 60px;
    height: auto;
    margin-bottom: 25px;
}

#cadastroTemplates {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: auto;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#cadastroTemplates:hover {
    background-color: #0056b3;
}

.horizontal-spacer {
    display: inline-block;
    width: 20px;
    margin-right: 20px;
}

.column-wrapper {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 98.4%;
    background-color: #ccc;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
    margin: 0 auto;
}

.column {
    width: 95%;
    height: auto;
    background-color: #ccc;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#createColumns {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 13px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 20px;
}

#createColumns:hover {
    background-color: #0056b3;
}

.column.expanded {
    height: auto;
    padding: 10px;
    background-color: #f2f2f2;
}