body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #258A42;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.header {
    background-color: #fff;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 50px;
    height: auto;
    margin-left: 10px;
}

.header i {
    font-size: 40px;
    margin-right: 10px;
}

.container {
    width: 400px;
    padding: 30px 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-self: center;
    margin-top: calc(10vh + 100px);
}

.container img {
    width: 60px;
    height: auto;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

form:invalid button {
    opacity: 70%;
    pointer-events: none;
    cursor: not-allowed;
}

input[type="text"],
input[type="password"] {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    margin-top: -5%;
    width: 30%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color .3s ease, opacity .2s ease;
}

button:hover {
    background-color: #0056b3;
}

.forgot-password {
    margin-top: 10px;
    font-size: 12px;
}